@model TodoWithEF.ViewModels.TodoAssigneeVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit todo</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Todo.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Todo.Title, "Todo description: ")
        @Html.EditorFor(m => m.Todo.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Todo.IsUrgent, "Urgent: ")
        @Html.CheckBoxFor(m => m.Todo.IsUrgent)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Todo.IsDone, "Done: ")
        @Html.CheckBoxFor(m => m.Todo.IsDone)
    </div>
    <div class="form-group">
        @Html.Label("Assignee: ")
        @Html.DropDownListFor(m => m.Todo.AssigneeId, new SelectList(Model.Assignees, "Id", "Name"), "Select assignee")
    </div>
    <div><button class="btn btn-lg btn-primary" type="submit">Submit</button></div>

}
